

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
#logo{
    width:100%;
    height:11em;
    
}
.navbar a{
    padding-left:2em;
    font-size: 1.3em;
}
#search{
    float:right;
}

.grid{
    margin-top:10%;
}

.para{
	width: 600px;
	background-color: gray;
	text-align: center;
}










