
<div class="container-fluid">
	<p style="width: 80%;" class="text-justify;">
	<h2>Admissions</h2>
	<br> Horace Mann Laboratory School is a unique learning
	environment that provides small class sizes, exceptional teaching, and
	unlimited University resources. We are located in the Everett Brown
	Education Building on the campus of Northwest Missouri State
	University.<br> <br>
	<h2>Tuition Rates</h2>
	<ul>
		<li>One Student $2,160 annually (August through May)</li>
		<li>Ten month payment plan is available to all families</li>
		<li>Sibling discount of 10% is available to all Horace Mann
			families.</li>
	</ul>
	</p>
</div>