<!-- Carousel div -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="./img/president-jazz.jpg" alt="President Jazz "
					style="width: 100%; height: 30em;">
			</div>

			<div class="item">
				<img src="./img/robotics.jpg" alt="Robotics"
					style="width: 100%; height: 30em;">
			</div>

			<div class="item">
				<img src="./img/education.jpg" alt="Education"
					style="width: 100%; height: 30em;">
			</div>
		</div>

		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span> <span
			class="sr-only">Previous</span>
		</a> <a class="right carousel-control" href="#myCarousel"
			data-slide="next"> <span
			class="glyphicon glyphicon-chevron-right"></span> <span
			class="sr-only">Next</span>
		</a>
	</div>

	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-3">
				<a href="https://www.nwmissouri.edu/horacemann/principal.htm"> <img
					class="grid" src="./img/msg1.PNG" /></a>
			</div>
			<div class="col-md-3">
				<a href="https://www.nwmissouri.edu/horacemann/about/index.htm">
					<img class="grid" src="./img/msg2.PNG" />
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.nwmissouri.edu/horacemann/pdf/SupplyList.pdf">
					<img class="grid" src="./img/msg3.PNG" />
				</a>
			</div>
			<div class="col-md-3">
				<a
					href="https://www.nwmissouri.edu/horacemann/pdf/updates/17Nov03.pdf">
					<img class="grid" src="./img/msg4.PNG" />
				</a>
			</div>
		</div>
		
		<center>
			<img src="./img/footer.PNG" style="width: 90%" />
		</center>