<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="" ng-app="myApp">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{title}}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
	<script src="js/main.js"></script>
</head>

<body ng-controller="myCtrl">
	<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<img id="logo" src="img/logo.PNG" />


	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				 aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#!about">ABOUT US </a>
				<a class="navbar-brand" href="#!admissions">ADMISSIONS </a>
				<a class="navbar-brand" href="#!curriculum">CURRICULUM </a>
				<a class="navbar-brand" href="#">FACULTY </a>
				<a class="navbar-brand" href="#">PARENT/STUDENT </a>
				<a class="navbar-brand" href="#">GIVING
				</a>

			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-right" role="form">
					<div class="input-group" id="search">
						<input type="text" class="form-control" placeholder="Search for..." ng-model="searchText">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click="myFunction()">Go!</button>
						</span>
					</div>
					<!-- /input-group -->
				</form>
			</div>
			<!--/.navbar-collapse -->
		</div>
	</nav>

	<div ng-view></div>
	<div ng-if="flag" class="row">
		<div class="text-center">
			<h2>You have searched for: {{searchText}}</h2>
		</div>
	</div>


	<footer class="text-center" style="bottom: 0;">
		<p>&copy; Company 2015</p>
	</footer>
	</div>
	<!-- /container -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
	</script>

	<script src="js/vendor/bootstrap.min.js"></script>

</body>

</html>